In [2]:
import pandas as pd
import numpy as np
from __future__ import division

In [3]:
#1
df=pd.read_csv('C:/Users/vamsh/Desktop/Python/aapl.csv')
df.head() # Let us check the contents of the data frame 'df'

   Strike     Expiry  Type  Vol  Open_Int  Underlying_Price
0    47.5  1/20/2017   put  277       739             96.69
1    47.5  1/19/2018  call    2         1             96.69
2    47.5  1/19/2018   put    2       375             96.69
3    50.0   2/5/2016  call    1         0             96.69
4    50.0  3/18/2016  call    4         0             96.69

In [4]:
#2
df['Size'] = (df['Strike']*df['Vol'])
df.head()

   Strike     Expiry  Type  Vol  Open_Int  Underlying_Price     Size
0    47.5  1/20/2017   put  277       739             96.69  13157.5
1    47.5  1/19/2018  call    2         1             96.69     95.0
2    47.5  1/19/2018   put    2       375             96.69     95.0
3    50.0   2/5/2016  call    1         0             96.69     50.0
4    50.0  3/18/2016  call    4         0             96.69    200.0

In [15]:
#2
sum(df['Size'])

17437372.5

In [16]:
#3
sum(df['Size'])/sum(df['Vol'])

98.410590326767874

In [17]:
#4
sum((df['Strike']*df['Open_Int']))/sum(df['Open_Int'])

111.18293340590854

In [19]:
# 5 a
sum(df[df.Type=='call']['Size'])/sum(df[df.Type=='call']['Vol'])

98.69192063124521

In [20]:
# 5 b
sum(df[df.Type=='put']['Size'])/sum(df[df.Type=='put']['Vol'])

97.923879884136568

In [21]:
#6 a
sum(df[df.Type=='call']['Strike'] * df[df.Type=='call']['Open_Int'] )/sum(df[df.Type=='call']['Open_Int'])

117.44697408841323

In [23]:
#6 b
sum(df[df.Type=='put']['Strike'] * df[df.Type=='put']['Open_Int'] )/sum(df[df.Type=='put']['Open_Int'])

101.99886068994412

In [29]:
# 7 a
sum(df[(df.Type=='call') & (df.Expiry=='3/4/2016')]['Size'])/sum(df[(df.Type=='call') & (df.Expiry=='3/4/2016')]['Vol'])

93.340828924162253

In [30]:
# 7 b
sum(df[(df.Type=='put') & (df.Expiry=='3/4/2016')]['Size'])/sum(df[(df.Type=='put') & (df.Expiry=='3/4/2016')]['Vol'])

91.111111111111114

In [35]:
# 8 a
sum(((df[(df.Type=='call') & (df.Expiry=='3/4/2016')]['Strike'])*(df[(aapl.Type=='call') & (df.Expiry=='3/4/2016')]['Open_Int'])))
/sum(df[(df.Type=='call') & (df.Expiry=='3/4/2016')]['Open_Int'])

101.6300162469537

In [37]:
# 8 a
sum(((df[(df.Type=='put') & (df.Expiry=='3/4/2016')]['Strike'])*(df[(aapl.Type=='put') & (df.Expiry=='3/4/2016')]['Open_Int'])))/
sum(df[(df.Type=='put') & (df.Expiry=='3/4/2016')]['Open_Int'])

91.908840470823947